.CartAddedSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45vh;
}
.LinkSummary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.CloseButton {
  font-size: 50px;
  color: #ccc;
  margin-top: -40px;
  cursor: pointer;
  margin-left: 95%;
}
.CloseButton:hover {
  color: black;
}
