.NavBar {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  height: 56px;
  padding: 10px 30px;
  background-color: var(--mainBlue);
  width: 100%;
}
.DesktopOnly {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
@media (max-width: 500px) {
  .DesktopOnly {
    display: none;
  }
}
