.NavigationItem a {
  text-decoration: none;
  color: var(--mainWhite);
  font-size: 120%;
  padding: 10px 15px;
}
.NavigationItem a:hover,
.NavigationItem a:active {
  background-color: var(--mainShadow);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
/* .NavigationItem a:hover {
  color: black;
} */
.NavigationItem a.active {
  background-color: var(--mainShadow);
  border-radius: 15px;
}

@media (max-width: 499px) {
  .NavigationItem a {
    color: var(--mainBlue);
    font-size: 140%;
    padding: 10px 45px;
    font-weight: 400;
    border: 1px solid var(--mainBlue);
    border-radius: 15px;
  }
  .NavigationItem a:hover,
  .NavigationItem a:active {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
  }

  .NavigationItem a.active {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
  }
}
