.NavigationItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.icon {
  margin-right: 6px;
  cursor: pointer;
}
.NavigationItems li {
  margin-right: 30px;
}
@media (max-width: 500px) {
  .NavigationItems {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
    margin-top: 50px;
  }
  .NavigationItems li {
    margin: 0 auto;
    width: 180px;
  }
}
