.container {
  display: flex;
  flex-direction: column;
}
.container h2 {
  letter-spacing: 0.2px;

  word-spacing: 2px;
  font-size: 180%;
  margin: 20px auto;
}

.container h2:after {
  height: 4px;
  display: block;
  content: '';
  width: 100px;
  background-color: var(--mainBlue);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.Products_List {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}
