.CardTotalPrimary {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px auto 50px auto;
}
.CardTotalSecondary {
  border: 2px solid var(--lightBlue);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35vh;
}

.CardTotalSecondaryParagraph {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  align-items: center;
  font-size: 110%;
}

.ClearCart {
  width: 30%;
  margin-top: 20px;
  margin-left: 70%;
}
@media (max-width: 420px) {
  .ClearCart {
    width: 40%;
    margin-top: 20px;
    margin-left: 40%;
  }
  .CardTotalSecondary {
    height: 40vh;
  }
}
