:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3ff;
  --mainDark: #232528;
  --mainYeloow: #ffa400;
  --mainShadow: rgba(128, 128, 128, 0.514);
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
}
/* For heading */
.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
