body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: var(--mainWhite);
  padding: 10px 15px;
  height: 40px;
  cursor: pointer;
}
